/* .guide{
    font-size: 0.8rem !important;
    font-weight:600;
}

.image-container{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){
   .image-container{
     width: 100%;
     height: 100%;
     margin-bottom: 1rem;
     
   }

   .step{
    flex-direction: column;
    
   }

   .step2{
    flex-direction: column-reverse;
   }
} */
.upKey{
  position: sticky;
  float: right;
  top: 90%;
  right: 50px;
  z-index: 100;
}