.info::before{
    content: '';
    position: absolute;
    top: 0;
    left : 0;
    width: 10px;
    height: 130px;
    background: var(--primaryBackground); 
}

.message::before{
    content: '';
    position: absolute;
    top: 0;
    left : 0;
    width: 10px;
    height: 130px;
    background: rgb(253, 224, 71);
}


.alert::before{
    content: '';
    position: absolute;
    top: 0;
    left : 0;
    width: 10px;
    height: 130px;
    background: var(--tertiaryBackground);;
}

.slideDown{

    height: auto;
    opacity: 1;
}

.slideUp{
    height: 0;
    opacity: 0;
    
}


