
* {
    margin: 0;
    padding: 0;
}

body {
    background: black !important;
}



.blog{
    background: var(--primaryBackground);
}

.login-box{
     width: 400px;
    height: 490px;
}

.school{
    color: rgba(37, 53, 161, 1);
    font-family: 'Poppins',sans-serif;
}



#email,
#password {
    border: 0.1px solid var(--primaryBackground);
    box-shadow: 2px 2px 5px #000;
    border-radius: 12px;
}

.btn {
    background-color:var(--primaryBackground);
    height: 2.6rem;
}

.forgot {
    color: var(--primaryBackground);
}



@media screen and (max-width: 768px){
    .logos{
        width: 35%;
        height: 35%;
    }
    .login-box{
        width: 270px;
        height: 420px;
    }
    .school{
        font-size: 2rem;
    }
}