
* {
    margin: 0;
    padding: 0;
}

body {
    background: black !important;
}

#email,
#password {
    border: 0.1px solid var(--primaryBackground);
    box-shadow: 2px 2px 5px #000;
    border-radius: 12px;
}

.btn {
    background-color:var(--primaryBackground);
    height: 2.6rem;
}

.forgot {
    color: var(--primaryBackground);
}
