*{
    margin: 0;
    padding: 0;
}

.ion{
    color:  var(--primaryBackground) !important;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
 
}
.noti{
    font-size:1.5rem;
    color: var(--primaryBackground);
}

.profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--blackTextColor);
    /* background: black; */
}

.btn{
    background: var(--primaryBackground);
    font-size: 1rem;
    font-family: 'Poppins';
}

.video{
    border:1px solid var(--primaryBackground);
}